<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="company.surious.coronovirusobserver">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".presentation.core.CoronovirusApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name=".presentation.ui.components.services.update_status_service.UpdateStatusService"
            android:enabled="true"
            android:exported="true"></service>

        <receiver android:name=".presentation.ui.components.widget.CoronaWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/corona_widget_info" />
        </receiver>

        <activity
            android:name=".presentation.ui.components.activities.main.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>